<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-9">
                        <div class="header">
                            <h4 class="title">Orders</h4>
                            <!--<p class="category">Here is a subtitle for this table</p>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="header" style="text-align: right">
                            <!--<div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">
                                            <p class="category">My Issues</p>
                                    </label>
                                </div>-->
</div>
                        </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Deal Name</th>
                                <th>Investor</th>
                                <th>Investor Type</th>
                                <th>Book</th>
                                <th class="text-right">Amount</th>
                                <th class="text-right">Allocated</th>
                                <th class="text-center">Share</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of orderList">
                                <td>{{row.dealName}}</td>
                                <td>{{row.investor}}</td>
                                <td>{{row.investorType}}</td>
                                <td>{{row.book}}</td>
                                <td class="text-right">{{row.orderAmount}}</td>
                                <td class="text-right">{{row.allocatedAmount}}</td>
                                <td class="text-center">
                                  <span *ngIf="!isOrderShared(row.orderID)">
                                    <button type="submit" class="btn btn-info btn-fill " 
                                    (click)="shareOrder(row)">Share</button>
                                  </span>
                                  </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
