<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-7">
      <div class="card">
        <div class="header">
          <h4 class="title">Issue Details</h4>
        </div>
        <div class="content">
          <form #createIssueForm="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Deal Name</label>
                  <input type="text" class="form-control border-input" placeholder="Deal Name" 
                         name="dealNameTxt"
                         [(ngModel)]="dealName">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Issuer</label>
                    <input type="text" class="form-control border-input" placeholder="Issuer" 
                           name="issuerTxt"
                           [(ngModel)]="issuer">
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Issue Size</label>
                  <input type="text" class="form-control border-input" placeholder="Issue Size" 
                         name="issueSizeTxt"
                        [(ngModel)]="issueSize">
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Co-Bankers</label>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngFor="let coBanker of selectedBanksList; let i = index">
                      <td class="text-center">
                          {{i + 1}}
                        </td>
                        <td>
                          {{coBanker}}
                        </td>
                        <td>
                          Book Runner
                        </td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-danger btn-icon" (click)="removeBank(coBanker)">
                                <i class="fa fa-remove"></i>
                              </button>
                        </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
            </div>



           
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd" 
                      [disabled]="!isCreateEnabled()"
                      (click)="createIssue()">Create Issue</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-5">

      <div class="card">
        <div class="header">
          <h4 class="title">Choose Banks</h4>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <div *ngFor="let bank of peerBanksList">
              <li>
                  <div class="row">
                   <!-- <div class="col-xs-3">
                      <div class="avatar">
                        <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>-->
                    <div class="col-xs-9">
                        {{bank}}
                      <br />
                      <span class="text-muted">
                        <small>Offline</small>
                      </span>
                    </div>
    
                    <div class="col-xs-3 text-right">
                      <button class="btn btn-sm btn-success btn-icon" (click)="addBank(bank)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </li>
            </div>
            <!--
            <li>
              <div class="row">
                <div class="col-xs-3">
                  <div class="avatar">
                    <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-xs-6">
                  Deutsche Bank
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>

                <div class="col-xs-3 text-right">
                  <button class="btn btn-sm btn-success btn-icon">
                    <i class="fa fa-envelope"></i>
                  </button>
                </div>
              </div>
            </li>
          
            <li>
              <div class="row">
                <div class="col-xs-3">
                  <div class="avatar">
                    <img src="assets/img/faces/face-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-xs-6">
                  RBS
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>

                <div class="col-xs-3 text-right">
                  <button class="btn btn-sm btn-success btn-icon">
                    <i class="fa fa-envelope"></i>
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-xs-3">
                  <div class="avatar">
                    <img src="assets/img/faces/face-3.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-xs-6">
                  ICICI Bank
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>

                <div class="col-xs-3 text-right">
                  <button class="btn btn-sm btn-success btn-icon">
                    <i class="fa fa-envelope"></i>
                  </button>
                </div>
              </div>
            </li>
          -->
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>