<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-9">
                        <div class="header">
                            <h4 class="title">Deal List</h4>
                            <!--<p class="category">Here is a subtitle for this table</p>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="header" style="text-align: right">
                            <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">
                                            <p class="category">My Deals</p>
                                    </label>
                                </div>
</div>
                        </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of issuesList" (click)="openOrders()">
                                <td><a routerLink="/sharedorders/{{row.state.data.issueName}}">{{row.state.data.issueName}}</a></td>
                                <td>{{row.state.data.issuer}}</td>
                                <td class="text-right">{{row.state.data.issueSize}}</td>
                                <td>{{row.state.data.coBanker}} </td>
                                <td>{{row.state.data.borrower | x500ParserPipe | rolename:leadBanker}}</td>
                                <td>{{row.state.data.paid}}</td>
                                <td>
                                    <span *ngIf="row.state.data.status === 'DRAFT'">    <button type="submit" class="btn btn-info btn-fill " 
                                        (click)="publishIssue(row)">Publish</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
